@charset "utf-8";

body, header { 
	overflow-x: hidden;
background:black;
color:white;
} 

.membros {
	display:none;
 opacity:0}

@media ( min-width: 320px) and ( max-width: 374px) {  

	header { 
	height:100vh; }

	mobileonly.membros { 
	 display:block;
	opacity: 1.0}

.aph  {


	top: 10px;
	left: 30px;
}

.video {position: relative;

	max-width: 100%;
}

.instagram  {
	position: relative;
	font-family: "Bruno Ace SC", sans-serif;
  font-weight: 400;
    font-style: normal;
	left: 28vh;
	font-size: 10pt;
	top: -55px;
}

.max {
display: block; 

color:skyblue;
font-size:10pt }

.linha {
	position: relative;
	top:-55vh;
  width: 100%; /* Ou uma largura específica */
  height: 0; /* Para que não ocupe espaço vertical */
  border-bottom: 1px solid #ccc; /* Linha fina cinza */
  /* Ou: border-top, border-left, border-right */
}
h1  {
	padding-left: 3vh;

	top: 72vh;
	font-family: "Bruno Ace SC", sans-serif;
  font-weight: 400;
    font-style: normal;

}
.pnormal { 
	line-height: 4vh;
		padding-left: 3vh;

	
	top: 75vh;
	font-family:"Exo 2", sans-serif;}

	.estilo  {
			padding-left: 1vh;
			font-size: 18px;

		display: block;
		margin-bottom: 6px;
		margin-top: 5px;
		color: yellow;
	}

	button { right:-35px;position: relative; padding: 10px 60px 20px 60px; background: #0095CC; border-radius: 8px; border: 2px solid white; margin: 15px;}
	a { text-decoration:none; color:white;
	font-family:"Exo 2", sans-serif;
	font-weight:400;
	font-size:8pt; text-transform: uppercase;}

	.vagas  { 
	font-family: "Exo 2", sans-serif; 
position: fixed;
align-items: center;
left: 85vh; font-size: 20px;}

.limitadas { 
position:relative;
top: 2vh;

font-family:"Exo 2", sans-serif;
font-size:20px;
color:yellow;
 }

}


@media (min-width: 375px) and (max-width: 425px) {

  /* ZERA TUDO QUE ESTAVA QUEBRANDO */



  /* LOGO */
  .aph {
    width: 120px;
    height: auto;
    margin-bottom: 2px;
  }

  /* INSTAGRAM */
  .instagram {

 position: relative;
top:-8vh;
right: -65%;
 

 
    font-family: "Bruno Ace SC", sans-serif;
    font-size: 10pt;
  
  }

  .max {
  	display: block;
    color: skyblue;
    font-size: 10pt;
  }

  /* TEXTO '100 VAGAS' */
  .vagas {
  	position: relative;
    top:-8vh;
    right: -23%;
    font-family: "Exo 2", sans-serif;
    color: white;
    font-size: 18px;
  }

  /* VÍDEO */
.video {position: relative;
	top: -10vh;
max-width: 100%;
}
  /* BOTÃO */
  button {
  	position: relative;
    padding: 10px 60px;
    background: #0095CC;
    border-radius: 8px;
    border: 2px solid white;
    margin-top: -12px;
    right: -8vh;
  }

  button a {
    text-decoration: none;
    color: white;
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
    font-size: 10pt;
  }

  /* LINHA */
  .linha {
  	position: relative;
  	top: -70vh;
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin: 25px 0;
  }

  /* TÍTULO */
  h1 {
    font-family: "Bruno Ace SC", sans-serif;
    font-size: 20pt;
    margin-top: 10vh;
  }

  /* TEXTO NORMAL */
  .pnormal {
    font-family: "Exo 2", sans-serif;
    font-size: 11pt;
    line-height: 20px;
    padding: 0 10vh;
    margin-top: 2vh;
    
  }

  .estilo {
    font-size: 14pt;
    color: yellow;
    display: block;
    margin-bottom: 8px;
  }

  /* TEXTO FINAL */
  .limitadas {
    font-family: "Exo 2", sans-serif;
    color: yellow;
    font-size: 14pt;
    margin-top: 20px;
    padding: 0 20px;
  }

}


@media (min-width: 768px) and (max-width: 1023px){ 

	header {
		min-height: 100vh;
	}
.aph  {
	max-width:20%;

	position: relative;
	top: 25px;
	left: 30px;
}

.video { 
	max-width: 150%;
	min-height: auto;

position:relative; 
right: -12%;
top: -12vh;}

.instagram  {
	color: red;
	font-family: "Bruno Ace SC", sans-serif;
  font-weight: 400;
    font-style: normal;
	font-family: ;
	top: -30px;
	position: relative;	left:80%;
	font-size: 10pt;


}

.linha { 
	margin-top: -75vh;
  width: 100%; /* Ou uma largura específica */
  height: 0; /* Para que não ocupe espaço vertical */
  border-bottom: 1px solid #ccc; /* Linha fina cinza */
  /* Ou: border-top, border-left, border-right */
}
h1  {
	left: 22%;
	position: relative;
	top: 65vh;
	font-family: "Bruno Ace SC", sans-serif;
  font-weight: 400;
    font-style: normal;

}
.pnormal { 
	line-height: 4vh;
		padding-left: 3vh;

	position: relative;
	top: 70vh;
	font-family:"Exo 2", sans-serif;}

	.estilo  {
			padding-left: 1vh;
			font-size: 18px;

		display: block;
		margin-bottom: 6px;
		margin-top: 5px;
		color: yellow;
	}

	button { position: relative; top: -12vh; right:-28%; padding: 40px 100px 40px 100px; background: #0095CC; border-radius: 16px; border: 2px solid white;}
	a { text-decoration:none; color:white;
		display: block;
	font-family:"Exo 2", sans-serif;
	font-weight:400;
	font-size:10pt; text-transform: uppercase;}

	.vagas  { 
	font-family: "Exo 2", sans-serif; 
position: relative;
align-items: center;
top: -12vh;
left: 35%; font-size: 20px;}

.limitadas { 
position:relative;
top: 80vh;
left: 1vh;
font-family:"Exo 2", sans-serif;
font-size:20px;
color:yellow;
 }
}


@media (min-width: 1024px) and (max-width: 1024px){ 

	header {
		min-height: 100vh;
	}
.aph  {
	max-width:20%;

	position: relative;
	top: 25px;
	left: 30px;
}

.video { 
	max-width: 200%;
	min-height: auto;

position:relative; 
right: -20%;
top: -5vh;}

.instagram  {
	color: red;
	font-family: "Bruno Ace SC", sans-serif;
  font-weight: 400;
    font-style: normal;
	font-family: ;
	top: -30px;
	position: relative;	left:80%;
	font-size: 10pt;


}

.linha { 
	margin-top: -65vh;
  width: 100%; /* Ou uma largura específica */
  height: 0; /* Para que não ocupe espaço vertical */
  border-bottom: 1px solid #ccc; /* Linha fina cinza */
  /* Ou: border-top, border-left, border-right */
}
h1  {
	left: 22%;
	position: relative;
	top: 75vh;
	font-family: "Bruno Ace SC", sans-serif;
  font-weight: 400;
    font-style: normal;

}
.pnormal { 
	line-height: 4vh;
		padding-left: 3vh;

	position: relative;
	top: 73vh;
	font-family:"Exo 2", sans-serif;}

	.estilo  {
			padding-left: 1vh;
			font-size: 18px;

		display: block;
		margin-bottom: 6px;
		margin-top: 5px;
		color: yellow;
	}

	button { position: relative; top: 5vh; right:25%; padding: 40px 100px 40px 100px; background: #0095CC; border-radius: 16px; border: 2px solid white;}
	a { text-decoration:none; color:white;
		display: block;
	font-family:"Exo 2", sans-serif;
	font-weight:400;
	font-size:10pt; text-transform: uppercase;}

	.vagas  { 
	font-family: "Exo 2", sans-serif; 
position: relative;
align-items: center;
top: -12vh;
left: 35%; font-size: 20px;}

.limitadas { 
position:relative;
top: 80vh;
left: 1vh;
font-family:"Exo 2", sans-serif;
font-size:20px;
color:yellow;
 }
}


@media (min-width: 1025px) and (max-width: 1440px){ 
.aph  {

	position: fixed;
	top: 10px;
	left: 30px;
}

.video { 
	max-width: 50%;
position:fixed; 
right: 60px;
top: 30vh;}

.instagram  {
	font-family: "Bruno Ace SC", sans-serif;
  font-weight: 400;
    font-style: normal;
	font-family: ;
	top: 13px;
	position: fixed;
	right: 300px;

}

.linha { 
	margin-top: 66px;
  width: 100%; /* Ou uma largura específica */
  height: 0; /* Para que não ocupe espaço vertical */
  border-bottom: 1px solid #ccc; /* Linha fina cinza */
  /* Ou: border-top, border-left, border-right */
}
h1  {
	padding-left: 3vh;
	position: fixed;
	top: 30vh;
	font-family: "Bruno Ace SC", sans-serif;
  font-weight: 400;
    font-style: normal;

}
.pnormal { 
	line-height: 4vh;
		padding-left: 3vh;

	position: fixed;
	top: 45vh;
	font-family:"Exo 2", sans-serif;}

	.estilo  {
			padding-left: 1vh;
			font-size: 18px;

		display: block;
		margin-bottom: 6px;
		margin-top: 5px;
		color: yellow;
	}

	button { position: fixed; top: 80vh; right:20vh; padding: 40px 100px 40px 100px; background: #0095CC; border-radius: 16px; border: 2px solid white;}
	a { text-decoration:none; color:white;
	font-family:"Exo 2", sans-serif;
	font-weight:400;
	font-size:20px; text-transform: uppercase;}

	.vagas  { 
	font-family: "Exo 2", sans-serif; 
position: fixed;
align-items: center;
left: 85vh; font-size: 20px;}

.limitadas { 
position:fixed;
bottom:30px;
left: 5vh;
font-family:"Exo 2", sans-serif;
font-size:20px;
color:yellow;
 }
}

@media (min-width: 1441px) and (max-width: 2560px){ 
.aph  {

	position: fixed;
	top: 10px;
	left: 30px;
}

.video { 
	max-width: 50%;
position:fixed; 
right: 60px;
top: 30vh;}

.instagram  {
	font-family: "Bruno Ace SC", sans-serif;
  font-weight: 400;
    font-style: normal;
	font-family: ;
	top: 13px;
	position: fixed;
	right: 300px;

}

.linha { 
	margin-top: 66px;
  width: 100%; /* Ou uma largura específica */
  height: 0; /* Para que não ocupe espaço vertical */
  border-bottom: 1px solid #ccc; /* Linha fina cinza */
  /* Ou: border-top, border-left, border-right */
}
h1  {
	padding-left: 3vh;
	position: fixed;
	top: 30vh;
	font-family: "Bruno Ace SC", sans-serif;
  font-weight: 400;
    font-style: normal;

}
.pnormal { 
	line-height: 4vh;
		padding-left: 3vh;

	position: fixed;
	top: 45vh;
	font-family:"Exo 2", sans-serif;}

	.estilo  {
			padding-left: 1vh;
			font-size: 18px;

		display: block;
		margin-bottom: 6px;
		margin-top: 5px;
		color: yellow;
	}

	button { position: fixed; top: 80vh; right:20vh; padding: 40px 100px 40px 100px; background: #0095CC; border-radius: 16px; border: 2px solid white;}
	a { text-decoration:none; color:white;
	font-family:"Exo 2", sans-serif;
	font-weight:400;
	font-size:20px; text-transform: uppercase;}

	.vagas  { 
	font-family: "Exo 2", sans-serif; 
position: fixed;
align-items: center;
left: 85vh; font-size: 20px;}

.limitadas { 
position:fixed;
bottom:30px;
left: 5vh;
font-family:"Exo 2", sans-serif;
font-size:20px;
color:yellow;
 }

}



